table {
    border: 2px solid #222;
    border-radius: 20px;
}

th, td {
    border: 1px solid #222;
    border-radius: 10px;
    padding: 10px;
    border: 20px;
    text-align: left;
}

.delButton, .searchButton {
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

strong{
    font-weight: bold;
    color: #1926e0;
}