html {
  font-family: "Lucida Console", "Consola", "Sans Serif";
}

.display {
  list-style-type: none;
  font-size: 0.8rem;
  font-style: italic;
}

td {
  padding-top: 1em;
  padding-bottom: 1em;
}
td .info {
  padding-right: 1em;
}